body {
  font-family: 'Roboto', sans-serif;
  background-color: #E0E1DD;
}

.v-data-table-header th {
  background-color: #1B263B;
  color: #E0E1DD;
}

.v-btn {
  margin-right: 8px;
}

.v-card-title {
  background-color: #0D1B2A;
  color: white;
}
